button{
    background: linear-gradient($color-secondary, $color-primary);
    width: 55%;
    height: 40px;
    color: $color-white;
    font-weight: bold;
    border: none;
    cursor: pointer;
    @include boxshadow(#b7B7B7);
    @include borderRadius ();
    @include font ("Roboto");
}
// Media queries //
@media (min-width:768px) and (max-width:991px) {
    button{
        width: 30%;
    }
}
@media (min-width:992px){
    button{
        width: 20%;
    }
}