.btn{
    background: linear-gradient($color-secondary, $color-primary);
    border-radius: 50px;
    width: 55%;
    height: 40px;
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
}