.restaurants{
    width: 95%;
    @include background("$background");
}
.restaurantCard{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 2%;
    border-radius: 15px;
    background-color: white;
    @include boxshadow("boxshadow");
    
    &__img {
        position: relative;
    }

    &__img img {
        width: 100%;
        height: 200px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        object-fit: cover;
    }
    &__img p{
        @include nouveau("$nouveau");
    }
    &__txt {
        display: flex;
    }
}
