.restaurants{
    @include width(95%);
    @include background();
} 
.restaurantCard{
    @include width(95%);
    @include background ($color-white);
    @include borderRadius ();
    @include boxshadow();
    @include flexcolumn ();
    margin-bottom: 5%;
    margin-left: 5%;
    &__img {
        position: relative;
    }
    &__img img {
        @include width();
        height: 170px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        object-fit: cover;
        object-position: center 62%;
    }
    &__txt {
        display: flex;
        justify-content: space-between;
        margin: 0% 2%;
        h3{
            margin:10px 10px 5px 10px;; 
        }
        p {
            margin:0px 10px 10px 10px;
        }
        .heart{
            display: flex;
            align-items: center;
            margin-right: 30px;
            font-size: 25px;
        }
    }
}
.heart{
    position: relative;
    .full{
        opacity: 0;
        position: absolute;
        background: linear-gradient($color-primary,$color-secondary);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 25px;
    }
    .empty{
        opacity: 1;
        position: absolute;
        font-size: 25px;
    }
    &:hover {
        .empty {
            opacity: 0;
            transition-duration: 550ms;
        }
        .full {
            opacity: 1;
            transition-duration: 550ms;
        }
    }
}
@media (min-width:768px) and (max-width:991px){
    .restaurants{
        display: flex;
        flex-wrap: wrap;
    }
    .restaurantCard{
        @include width(45%);
    }
}
@media (min-width:992px){
    .restaurants{
        display: flex;
        flex-wrap: wrap;
        @include width(95%);
    }
    .restaurantCard{
        @include width(20%);
    }
}