.functioning__button{
    display: flex;
    align-items: center;
    width: 90%;
    margin: 4%;
    height: 70px;
    @include boxshadow ();
    @include background();
    @include borderRadius ();
}
@media (min-width:768px) and (max-width:991px){
    .functioning__button{
        width: 25%;
    }
}
@media (min-width:992px){
    .functioning__button{
        width: 25%;
    }
}