.functioning__button{
    display: flex;
    align-items: center;
    @include width(90%);
    margin: 4%;
    height: 70px;
    @include boxshadow ();
    @include background();
    @include borderRadius ();
    // transform: scale(1);
    // transition: transform 400ms;
    // &:hover{
    //     transform: scale(1.5);
    // }
}
@media (min-width:768px) and (max-width:991px){
    .functioning__button{
        @include width(25%);
    }
}
@media (min-width:992px){
    .functioning__button{
        @include width(25%);
    }
}