body {
    max-width: 767px;
    margin: auto;
    @include font("Roboto");

    a{
        text-decoration: none;
        color: black;
    }
}
.title{
    @include background("$background");
    @include flexbox ("$flexbox");
    align-items: center;
    padding-bottom: 50px;
    &__search{
        background-color:#eaeaea;
        width: 100%;
        display: flex;
        justify-content: center;
        border-top: #d5d5d559 3px groove;
        input{
            border: none;
            background-color: transparent;
            margin: 10px;
            font-size: 13px;
            font-weight: bold;
            width: 30%;
        }
    }
    .fas{
        display: flex;
        align-items: center;
        font-size: 15px;
        color: #404040
    }
    h1{
        text-align: center;
        margin: 40px;
        margin-bottom: 10px;
    }
    p {
        text-align: center;
        opacity: 0.6;
        margin: 0px 0px 30px 0px
    }
}
.functioning {
    display: flex;
    flex-direction: column;
    h2{
        margin-left: 6%;
    }
}
.list{
    width: 100%;
    background-color: (rgb(246, 246, 246));
    padding-top: 20px;
    padding-bottom: 50px;
    h2{
        margin-left: 6%;
    }
}
// pages restau //
main{
    @include background ('$background');
}
.img__background{
    width: 100%;
    img{
        width: 100%;
    }
}
.menu{
    @include background('$background');
    border-top-right-radius: 35px;
    border-top-left-radius: 35px;
    transform: translateY(-50px);
    &__title{
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        h1{
            @include font("shrikhand");
            font-size: 25px;
            font-weight: normal;
            margin: 5% 0% 0% 5%;
        }
        .far {
            font-size: 20px;
            margin-right: 25px;
        }
    }
    h2{
        margin-left: 15px;
        font-size: 18px;
        font-weight: initial;
        border-bottom: 3px solid $color-tertiary;
        width: 12%;
        height: 25px;
        margin-top: 10%;
    }
    &__category{
        @include flexbox ("$flexbox");
        align-items: center;
    }
    &__choice {
        @include boxshadow ('$boxshadow');
        @include borderRadius ("$borderRadius");
        background-color: white;
        width: 92%;
        padding-left: 10px;
        margin-bottom: 15px;
        h3{
           margin: 0px 0px 10px 5px;
           padding-top: 10px;
        }
    }
    &__item {
        display: flex;
        justify-content: space-between;
        p {
            margin:0px 10px 10px 5px;
        }
        .bold{
            font-weight: bold;
        }
    }
    .btn__pages{
        display: flex;
        justify-content: center;
        padding:25px 0px 0px 0px;
    }
}