body {
    min-width: 100%;
    margin: auto;
    @include font("Roboto");
    
    a{
        text-decoration: none;
        color: $color-black;
    }
}
// Media queries //
@media (min-width:768px) and (max-width:991px) {
    body{
        min-width: 768px;
        max-width: 991px;
    }
}
@media all and (max-width:1400px){
    body {
        min-width: 992px;
        max-width: 1400px;
    }
}