body {
    max-width: 767px;
    margin: auto;
    @include font("Roboto");

    a{
        text-decoration: none;
        color: black;
    }
}
.title{
    @include background("$background");
    @include flexbox ("$flexbox");
    &__search{
        background-color:#eaeaea;
        width: 100%;
        display: flex;
        justify-content: center;
        border-top: #d5d5d559 3px groove;
        input{
            border: none;
            background-color: transparent;
            margin: 10px;
            font-size: 13px;
            font-weight: bold;
            width: 30%;
        }
    }
    .fas{
        display: flex;
        align-items: center;
        font-size: 15px;
        color: #404040
    }
    h1{
        text-align: center;
        margin: 40px;
        margin-bottom: 10px;
    }
    p {
        text-align: center;
        opacity: 0.6;
        margin: 0px 0px 30px 0px
    }
}
.functioning {
    @include flexbox ("$flexbox");
}
.list{
    width: 100%;
    background-color: (rgb(246, 246, 246));
    padding-top: 20px;
    h2{
        margin-left: 6%;
    }
}
// pages restau //
.img__background{
    width: 100%;
    img{
        width: 100%;
    }
}
.menu{
    @include background('$background');
    border-top-right-radius: 35px;
    border-top-left-radius: 35px;
    h2{
        margin-left: 15px;
    }
    &__title{
        display: flex;
        justify-content: space-around;
        align-items: center;
        h1{
            @include font("shrikhand");
            font-size: 30px;
            font-weight: normal;
        }
    }
    &__category{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__choice {
        background-color: white;
        border-radius: 20px;
        width: 95%;
        padding-left: 10px;
        margin-bottom: 15px;
        h3{
           margin: 0px 0px 10px 5px;
           padding-top: 10px;
        }
    }
    &__item {
        display: flex;
        justify-content: space-between;
        p {
            margin:0px 10px 10px 5px;
        }
    }
}