.title{
    @include background("$background");
    @include flexbox ("$flexbox");
    align-items: center;
    padding-bottom: 50px;
    &__search{
        background-color:#eaeaea;
        width: 100%;
        display: flex;
        justify-content: center;
        border-top: #d5d5d559 3px groove;
        input{
            border: none;
            background-color: transparent;
            margin: 10px;
            font-size: 13px;
            font-weight: bold;
            width: 30%;
        }
    }
    .fas{
        display: flex;
        align-items: center;
        font-size: 15px;
        color: #404040
    }
    h1{
        text-align: center;
        margin: 40px;
        margin-bottom: 10px;
    }
    p {
        text-align: center;
        opacity: 0.6;
        margin: 0px 0px 30px 0px
    }
}
.functioning {
    @include flexbox ("$flexbox");
    margin: 20px 0px 50px 10px;
    h2{
        margin-left: 4%;
    }
    &__number {
        margin-left: -8px;
        margin-right: 6%;
        p{
            @include flexbox ("$flexbox");
            justify-content: center;
            align-items: center;
            background-color: $color-primary;
            color: white;
            border-radius: 50%;
            height: 25px;
            width: 25px;
            font-size: 12px;
        }
    }
    &__button{
        .fas {
            margin-right: 8%;
            display: flex;
            justify-content: center;
            width: 15px;
            color: gray;
            font-size: 17px;
        }
        h3{
            font-size: 15px;
        }
    }
}
.list{
    width: 100%;
    background-color: (rgb(246, 246, 246));
    padding-top: 20px;
    padding-bottom: 50px;
    h2{
        margin-left: 6%;
    }
}