.title{
    @include background();
    @include flexcolumn ();
    align-items: center;
    padding-bottom: 50px;
    &__search{
        @include background (#eaeaea);
        width: 100%;
        display: flex;
        justify-content: center;
        border-top: #d5d5d559 3px groove;
        input{
            border: none;
            background-color: transparent;
            margin: 10px;
            font-size: 13px;
            font-weight: bold;
            width: 30%;
        }
    }
    .fas{
        display: flex;
        align-items: center;
        color: #404040;
    }
    h1{
        text-align: center;
        margin: 40px;
        margin-bottom: 10px;
    }
    p {
        text-align: center;
        opacity: 0.6;
        margin: 0px 0px 30px 0px
    }
}
.functioning {
    @include flexcolumn ();
    margin: 20px 0px 50px 10px;
    h2{
        margin-left: 4%;
    }
    &__number {
        margin-left: -8px;
        margin-right: 6%;
        p{
            @include flexcolumn ();
            justify-content: center;
            align-items: center;
            background-color: $color-primary;
            color: white;
            border-radius: 50%;
            height: 25px;
            width: 25px;
            font-size: 12px;
        }
    }
    &__button{
        .fas {
            margin-right: 8%;
            display: flex;
            justify-content: center;
            width: 15px;
            color: gray;
            font-size: 17px;
        }
        h3{
            font-size: 15px;
        }
    }
}
.list{
    width: 100%;
    background-color: (rgb(246, 246, 246));
    padding-top: 20px;
    padding-bottom: 50px;
    h2{
        margin-left: 6%;
    }
}

// Media queries //
@media (min-width:768px) and (max-width:991px) {
    .title {
        width: 70%;
        margin: auto;
        @include borderRadius ();
        &__search {
            @include borderRadius ();
            input{
                width: 18%;
                text-align: center;
            }
        }
    }
    .functioning {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        h2{
            width: 100%;
        }
    }
}
@media (min-width:992px){
    .title {
        width: 60%;
        margin: auto;
        @include borderRadius ();
        &__search {
            @include borderRadius ();
            input{
                width: 12%;
                text-align: center;
            }
        }
    }
    .functioning{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        h2{
            width: 100%;
        }
    }
    .list{
        @include borderRadius();
        margin-bottom: 5%;
        h2{
            margin-left: 5%;
            margin-bottom: 3%;
        }
    }
}
