main{
    @include background ();
}
.img__background{
    width: 100%;
    img{
        width: 100%;
    }
}
.menu{
    @include background();
    border-top-right-radius: 35px;
    border-top-left-radius: 35px;
    transform: translateY(-50px);
    &__title{
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        h1{
            @include font("shrikhand");
            font-size: 25px;
            font-weight: normal;
            margin: 5% 0% 0% 5%;
        }
        .far {
            font-size: 20px;
            margin-right: 7%;
        }
    }
    h2{
        margin-left: 4%;
        font-size: 18px;
        font-weight: initial;
        border-bottom: 3px solid $color-tertiary;
        width: 12%;
        height: 25px;
        margin-top: 10%;
    }
    &__category{
        @include flexcolumn ();
        align-items: center;
    }
    &__choice {
        @include boxshadow ();
        @include borderRadius ();
        background-color: $color-white;
        width: 92%;
        padding-left: 10px;
        margin-bottom: 3%;
        h3{
           margin: 0px 0px 10px 5px;
           padding-top: 10px;
        }
    }
    &__item {
        display: flex;
        justify-content: space-between;
        p {
            margin:0px 10px 10px 5px;
        }
        .bold{
            font-weight: bold;
        }
    }
    .btn__pages{
        display: flex;
        justify-content: center;
        padding:25px 0px 0px 0px;
    }
}
@media (min-width:768px) and (max-width:991px) {
    .menu{
        &__title{
            h1{
                font-size: 35px;
            }
            .far{
                font-size: 30px;
                margin-right: 5%;
            }
        }
        h2{
            margin-bottom: 4%;
            width: 6%;
        }
    }
}
@media (min-width:992px){
    .img__background{
        display: flex;
        justify-content: center;
        img{
        @include borderRadius(100%);
        width: 70%;
        }
    }
    main {
        @include borderRadius();
    }
    .menu{
        &__title{
            margin-top: 5%;
        h1{
            font-size: 40px;
            margin: 4%;
        }
        .far{
            font-size: 40px;
            margin-right: 5%;
        }
        }
        h2{
            
            margin: 2% 0% 2% 4%;
        }
        &__choice{
            margin-bottom: 1%;
        }
    }
}