main{
    @include background ();
}
.img__background{
    @include width();
    img{
        @include width();
    }
}
.menu{
    @include background();
    border-top-right-radius: 35px;
    border-top-left-radius: 35px;
    transform: translateY(-50px);
    &__title{
        display: flex;
        justify-content: space-around;
        align-items: baseline;
        h1{
            @include font("shrikhand");
            @include fontSize(25px);
            font-weight: normal;
            margin: 5% 0% 0% 5%;
        }
        .heart{
            height: 20px;
            @include width(7%);
        }
    }
    h2{
        align-self: flex-start;
        margin-left: 4%;
        @include fontSize(18px);
        font-weight: initial;
        border-bottom: 3px solid $color-tertiary;
        @include width(12%);
        height: 25px;
        margin-top: 10%;
    }
    &__category{
        @include flexcolumn ();
        align-items: center;
    }
    &__choice {
        @include boxshadow ();
        @include borderRadius ();
        @include background ($color-white);
        @include width(92%);
        padding-left: 10px;
        margin-bottom: 3%;
        cursor: pointer;
        position: relative;
        overflow: hidden;
        h3{
           margin: 0px 0px 10px 5px;
           padding-top: 10px;
           max-width: 100%;
           @include fontSize(16px);
           text-overflow: ellipsis;
           overflow: hidden;
           white-space: nowrap;
           transition: max-width 0.5s ease;
        }
        &:hover {
            & h3{
                max-width: 80%;
            }
            & .menu__item {
                p:not(.bold){
                    max-width: 60%;
                }
                & .bold {
                    transform: translateX(-200%);
                }
            }
            & .menu__check {
                transform: translateX(-100%);
                .far{
                    transform: rotate(360deg);
                }
            }
        }
    }
    &__item {
        display: flex;
        justify-content: space-between;
        p {
            margin:0px 10px 10px 5px;
            @include fontSize(13px);
        }
        p:not(.bold) {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            transition: max-width 0.5s ease;
            max-width: 100%;
        }
        .bold{
            font-weight: bold;
            transition: transform 0.5s ease;
        }
    }
    &__check{
        display: flex;
        justify-content: center;
        align-items: center;
        @include background ($color-tertiary);
        @include width(15%);
        position: absolute;
        top: 0;
        left: 100%;
        height: 100%;
        transition: transform 0.5s ease;
        .far{
            color: $color-white;
            @include fontSize(25px);
            transition: transform 0.5s ease-in-out;
        }
    }
    .btn__pages{
        display: flex;
        justify-content: center;
        padding:25px 0px 0px 0px;
    }
}
@media (min-width:768px) and (max-width:991px) {
    .menu{
        &__title{
            h1{
                @include fontSize(35px);
            }
            .heart{
                height: 25px;
            }
            .full{
                @include fontSize(30px);
            }
            .empty{
                @include fontSize(30px);
            }
        }
        &__choice{
           @include width(75%);
           &:hover {
            & .menu__item {
                & .bold {
                    transform: translateX(-350%);
                    }
                }
            }
            h3{
                @include fontSize(18px);
            }
        }
        &__item{
            p{
                @include fontSize(15px);
            }
        }
        h2{
            align-self: flex-start;
            margin-left: 13.7%;
        }
    }
}
@media (min-width:992px){
    .img__background{
        img{
        height: 450px;
        object-fit: cover;
        object-position: center 80%;
        }
    }
    .menu{
        &__title{
            justify-content: center;
        h1{
            @include fontSize();
            margin: 4%;
        }
        .heart{
            height: 35px;
            width: 0;
        }
        .full{
            @include fontSize()
        }
        .empty{
            @include fontSize()
        }
        }
        &__full{
            display: flex;
            justify-content: space-around;
            @include width();
        }
        &__category{
            @include width();
        h2{ 
            margin: 2% 0% 5% 4%;
        }
        }
        &__choice{
            margin-bottom: 5%;
            &:hover {
                & .menu__item {
                    & .bold {
                        transform: translateX(-250%);
                    }
                }
            }
            h3{
                @include fontSize(21px);
            }
        }
        &__item{
            p{
                @include fontSize(18px);
            }
        }
    }
}
