// Anim défilement menus //
.menu__choice {
    transform: translateY(30px);
        opacity: 0;
        animation: scrolling 3s forwards;
}
@keyframes scrolling{
    0%{
        transform: translateY(30px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}
@for $i from 1 to 10 {
    .menu__choice--scroll#{$i} {
        animation-delay: $i * 200ms;
    }
}