// Anim défilement menus //
.menu__choice {
    transform: translateY(30px);
    opacity: 0;
    animation: scrolling 3s forwards;
}
@keyframes scrolling{
    0%{
        transform: translateY(30px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}
@for $i from 1 to 11 {
    .menu__choice--scroll#{$i} {
        animation-delay: $i * 200ms;
    }
}

// Loading spinner//
.fund{
	@include background($color-white);
	padding: 0;
	margin: 0;
	min-height: 100%;
	min-width:100%;
	display:flex;
	align-items: center;
	justify-content: center;
    animation:fund 3s forwards;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    pointer-events: none;
    white-space: nowrap;
}
.loader{
	-webkit-perspective:700px;
	perspective: 700px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.loader>span{
	@include fontSize(31px);
	@include font("shrikhand");
	display: inline-block;
	animation:flip 3.5s linear;
	transform-origin:0 70%;
}
.body__home {
    animation: body 3s forwards;
}
@keyframes fund {
  0% {
    opacity:1;
  }
  75%{
    opacity:1;
  }
  100%{
    opacity:0;
  }
}
@keyframes flip{
	25%{
		transform: rotateX(360deg);
	}
	100%{
		transform: rotatex(360deg);
	}
}

@keyframes body{
    0%{
        overflow: hidden;
    }
    99%{
        overflow: hidden;
    }
    100%{
        overflow: auto;
    }
}
.loader>.oh{
    color: $color-primary;
    animation-delay: 0.1s;
}
.loader>.my{
	animation-delay: 0.7s;
    color:$color-secondary;
}
.loader>.food{
	animation-delay: 1.3s;
    color:$color-primary;
}
@media  (min-width:768px) and (max-width:991px) {
    .loader>span{
        @include fontSize(73px);
    }
}
@media (min-width:992px){
    .loader>span{
        @include fontSize(140px);
    }
}