@mixin font($fontFamily) {
    font-family: $fontFamily, sans-serif;
}
@mixin background($background){
    background-color: #f6f6f6;
}
@mixin boxshadow($boxshadow){
    box-shadow: 3px 3px 5px #e6e6e6;
}
@mixin flexbox($flexbox){
    display: flex;
    flex-direction: column;
}
@mixin borderRadius ($borderRadius){
    border-radius: 20px;
}