@mixin font($fontFamily) {
    font-family: $fontFamily, sans-serif;
}
@mixin background($background){
    background-color: #f6f6f6;
}
@mixin boxshadow($boxshadow){
    box-shadow: 3px 3px 5px #b9b9b9;
}
@mixin nouveau($nouveau){
    position: absolute;
    margin: 0;
    top: 13px;
    right: 10px;
    font-size: 12px;
    background-color: #99E2D0;
    color: #158e71;
    padding: 6px 10px;
    font-weight: bold;
}
@mixin functioning($functioning){
    @include background("$background");
    border-radius: 20px;
    width: 90%;
}
@mixin flexbox($flexbox){
    display: flex;
    flex-direction: column;
    align-items: center;
}