footer {
    background-color:#353535;
    color: white;
    padding-bottom: 20px;
    h4{
        @include font("Shrikhand");
        font-size: 18px;
        font-weight: 100;
        padding: 5%;
        padding-left: 7%;
        margin: 0;
    }
    a {
        display: flex;
        text-decoration: none;
        color: white;
    }
    ul{
        margin: auto;
        margin-left: -5%;
    }
    li{
        list-style-type: none;
        margin-bottom: 2%;
    }
    .fas{
        min-height: 20px;
        min-width: 20px;       
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 2%;
    }
}