footer {
    @include background(#353535);
    color: $color-white;
    padding-bottom: 20px;
    h4{
        @include font("Shrikhand");
        @include fontSize(18px);
        font-weight: 100;
        padding: 5%;
        padding-left: 7%;
        margin: 0;
    }
    a {
        display: flex;
        text-decoration: none;
        color: $color-white;
    }
    ul{
        margin: auto;
        margin-left: -5%;
    }
    li{
        list-style-type: none;
        margin-bottom: 2%;
    }
    .fas{
        min-height: 20px;
        min-width: 20px;       
        @include flexcolumn;
        align-items: center;
        margin-right: 2%;
    }
}
@media (min-width:768px) and (max-width:991px){
    footer{
        h4{
            @include fontSize(22px);
            text-align: center;
        }
        ul{
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding: 0px;
            margin: 0;
        }
        li{
            white-space: nowrap;
            margin-bottom: 0;
        }
    }
}
@media (min-width:992px){
    footer{
        h4{
            @include fontSize(24px);
            text-align: center;
            padding: 2%;
        }
        ul{
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding: 0px;
        }
        li{
            white-space: nowrap;
            margin-bottom: 0;
        }
    }
}