header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 3%;

    &.home {
        justify-content: center;
        .fas{
            display: none;
        }
        img{
            margin-left: 0%;
        }
    }
    a {
        text-decoration: none;
        color: $color-black;
    }
    img {
        display: flex;
        justify-content: center;
        @include width(45%);
        margin-left: 27%;
    }
}
// Media queries //
@media (min-width:768px) and (max-width:991px){
    header{
        .fas{
            @include fontSize(20px);
        }
        img{
            @include width(35%);
            margin-left: 32%;
        }
    }
}
@media (min-width:992px){
    header{
        .fas{
            @include fontSize(25px);
        }
        img{
            @include width(25%);
            margin-left: 38%;
        }
    }
}