header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 3%;

    &.home {
        justify-content: center;
        .fas{
            display: none;
        }
    }
    a {
        text-decoration: none;
        color: black;
    }
    img {
        display: flex;
        justify-content: center;
        width: 45%;
    }
    .fas{
        margin-right: 80px;
    }
}