header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 3%;

    &.home {
        justify-content: center;
        .fas{
            display: none;
        }
    }
    a {
        text-decoration: none;
        color: black;
    }
    img {
        display: flex;
        justify-content: center;
        width: 45%;
    }
    .fas{
        margin-right: 80px;
    }
}
// Media queries //
@media (min-width:768px) and (max-width:991px){
    header{
        .fas{
            margin-right: 250px;
        }
        img{
            width: 35%;
        }
    }
}